.git/
.github/
.idea/
.task/
coverage/
deploy/
tests/
vendor/
.dockerignore
.editorconfig
.env*
.gitignore
.php-cs-fixer*.php
.release-please-manifest.json
CHANGELOG.md
compose.yaml
Dockerfile
Makefile
phpstan.neon*
phpunit.xml*
README.md
release-please-config.json
renovate.json5
Taskfile*.yaml
