name: Continuous Integration

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    paths:
      - .github/workflows/ci.yaml
      - src/**
      - tests/**
      - .dockerignore
      - app.php
      - compose.yaml
      - composer.json
      - Dockerfile
  push:
    branches:
      - main
    paths:
      - .github/workflows/ci.yaml
      - src/**
      - .dockerignore
      - app.php
      - compose.yaml
      - composer.json
      - Dockerfile

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  IMAGE_TAG: test
  REGISTRY: localhost:5000

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      actions: write
      contents: read
      packages: read
    services:
      registry:
        image: registry:2
        ports:
          - 5000:5000
    steps:
      - name: Check Out
        uses: actions/checkout@v6

      - name: Login to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: nayleen
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set Up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver-opts: network=host

      - name: Build Local Image
        uses: docker/build-push-action@v6
        env:
          DOCKER_BUILD_SUMMARY: false
          DOCKER_BUILD_RECORD_UPLOAD: false
        with:
          cache-from: type=registry,ref=ghcr.io/nayleen/bunny-ddns:amd64-cache
          context: .
          load: true
          push: true
          tags: "${{ env.REGISTRY }}:${{ env.IMAGE_TAG }}"

      - name: Copy .env File
        run: cp .env.example .env

      - name: Install Composer Dependencies
        run: docker compose run --rm app composer install --prefer-dist --no-progress --no-interaction

      - name: Run Tests
        run: docker compose run --rm app php vendor/bin/phpunit --colors=always

  release:
    if: ${{ github.event_name == 'push' }}
    needs: test
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
      - name: Build Release Images
        uses: benc-uk/workflow-dispatch@v1
        with:
          workflow: build.yaml
